.blog {

	&__row {

		@include below (md) {
			display: flex;
			flex-direction: column-reverse;
		}
	}
	
	&__post {
		color: $color-body;
		margin-bottom: 3rem;
		margin-top: 3rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		position: relative;
    	min-height: 1px;
    	break-inside: avoid;

		@include above (sm) {
			float: left; 
		}

		&--featured {
			margin-top: 0;
		}

		&--sidebar {
			margin-bottom: 1.5rem;
			margin-top: 0;
			display: inline-block;
			padding: 0;

			&:last-child {
				margin-bottom: 0;
			}

			.blog__img, .blog__meta {
				margin-bottom: 1.5rem;
			}

			.blog__title {
				color: $grey-dark;
				margin-bottom: 1.5rem;
			}

			.blog__img {
				@include box-shadow();
			}
		}
	}

	&__img {
		margin-bottom: 3rem;
		object-fit: cover;
	}

	&__title {
		color: $orange;
	}

	&__meta {
		color: $orange;
		display: inline-flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 3rem;

		&--job, &--sidebar {
			display: flex;
			justify-content: space-between;
		}

		strong {
			margin-right: 3em;
		}
	}

	&__author {
		margin-top: 3rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
		border-top: dashed $grey-dark .2rem;
		border-bottom: dashed $grey-dark .2rem;

		&-avatar {
			align-self: flex-start;
			border-radius: 50%;
			margin-right: 1.5rem;

			@include above (sm) {
				margin-right: 3rem;
			}
		}

		&-title {
			margin-bottom: 1.5rem;
			font-size: 12px;
		}

		&-description {
			margin-bottom: 0;
		}
	}
}