.contact {

	&__info, &__form {

		@include below (md) {
			width: 100%;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}

	&__form {
		padding: 1.5rem;
		border-radius: .5rem;
		background: $grey-dark;

		@include above (md) {
			padding: 3rem;
		}

		.gform_confirmation_message {
			color: $white !important;
		}
	}

	&__info {

		a {
			color: $color-body;
			transition: all ease .3s;
			display: inline-flex;
			align-items: center;

			&:hover {
				color: $orange;
			}

			img {
				margin-right: 1rem;
			}
		}
	}
}