.cta {

	&--wrapper {
		padding-top: 5rem;
		padding-bottom: 0;
		position: relative;
		overflow: hidden;

		@include above (sm) {
			padding-top: 18vh;
			padding-bottom: 18vh;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: -25%;
		width: 100%;
		opacity: .2;

		@include above (sm) {
			top: -25%;
			width: 50%;
			opacity: 1;
		}

		img {
		}
	}

	&__item {

		@include below (sm) {
			width: 100%;
			padding-bottom: 5rem;
		}

		&--text {

		}

		&--img {
			@include bg-cover();
			width: 100%;
			min-height: 35rem;

			@include above (sm) {
				position: absolute;
				height: 100%;
				width: 50%;
				top: 0;
				right: 0;
			}
		}
	}

	&__title {
		font-size: 2.8rem;

		@include above (sm) {
			font-size: 3rem;
		}

		@include above (lg) {
			font-size: 4rem;
		}
	}
}