.events {

	&__row {

		@include below (sm) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&__item {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		display: flex;
		flex-direction: column;
		color: $color-body;

		&:hover {

			.btn--ticket {
				 background: $orange;
				 color: $white;
				 border-top: .2rem dashed $white;
			}
		}

		@include above (sm) {
			font-size: 1.7rem;
		}
	}

	&__wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__status {
		border-radius: .5rem;
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		color: $white;
		font-weight: 700;
		padding: .5rem 1rem;

		&--booked {
			background: $orange;
		}

		&--few, &--open {
			background: #7FB800;
		}
	}

	&__details {
		position: absolute;
		background: $grey-dark;
		padding: 1rem;
		font-size: 1.6rem;
		font-weight: 700;
	}

	&__img {
		display: flex;
	}

	&__location {
		display: inline-flex;
		align-items: flex-start;
		padding-top: 1rem;

		img {
			padding-right: 1.5rem;
		}

		p {
			margin-bottom: 0;
		}

		&-adress {
			display: block;
		}
	}

	&__seats {

		&--count {
			padding-bottom: 1.5rem;
		}

		&-open {
			color: #7FB800;
		}
		
		.white, .orange {
			padding-left: .5rem;
		}
	}

	&__btn {
		text-align: right;
		padding-top: 3rem;
	}
}