.flights {
	
	&__item {
		float: left;
		padding: 1.5rem;
		font-size: 1.4rem;
		display: flex;
		flex-direction: column;
		
		@include between (xs, lg) {
			width: 50%;
		}

		@include above (lg) {
			width: 20%;
		}
	}

	&__img {
		display: flex;
	}

	&__stats, &__specs {
		background: $white;
		padding: 3rem 1.5rem;
		position: relative;
	}
	
	&__stats {
		overflow: hidden;
		flex: 1;

		&:before, &:after {
			content: '';
			border-radius: 50%;
			background: $blue-light;
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			bottom: -1.25rem;
			@include box-shadow-inset();
		}

		&:before {
			left: -1.25rem;
		}

		&:after {
			right: -1.25rem;
		}

		a {
			color: $orange;
			display: block;
			text-align: right;
		}
	}

	&__title {
		margin-bottom: 1.5rem;
	}

	&__specs {
		border-top: .2rem dashed $grey-medium;
		flex: 1;

		&:before, &:after {
			content: '';
			border-radius: 50%;
			background: $blue-light;
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			top: -1.25rem;
		}

		&:before {
			left: -1.25rem;
		}

		&:after {
			right: -1.25rem;
		}

		tr {
			border-bottom: .1rem solid $orange;

			&:nth-child(even) {
				background: $white !important;
			}

			td:nth-child(2) {
				text-align: right;
			}
		}

		td {
			padding-left: 0;
		}
	}
}