
.footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: $grey-dark;
	color: $white;

	&__item {
		float: left;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		line-height: 1.8;
		width: 100%;

		a {
			transition: all ease .3s;
			color: $grey-medium;

			&:hover {
				color: $orange;
			}
		}

		a[href^="tel:"], a[href^="mailto:"] {
			color: $white;

			&:hover {
				color: $orange;
			}
		}
		
		h1, h2, h3, h4, h5, h6 {
			color: $orange;

			a {
				color: $orange;
			}
		} 
		
		p {
			
		}

		@include below (md) {
			padding-bottom: 3rem;
		}

		@include between (sm, md) {
			width: 50%;
		}

		@include above (md) {
			width: 20%;
		}
	}

	&__title {
		color: $orange;
	}

	&__map {
		
		@include below (sm) {
			width: 100%;
		}
	}
}
