.header {
	position: relative;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background: rgba($white, .8);

	&--transparent {

		@include above (sm) {
			position: absolute;
			width: 100%;
			z-index: 10;
		}
	}

	&__container {

		@include between (sm, lg) {
			flex-direction: column;
		}
	}

	&__logo {
		display: flex;
		float: left;

		img {
			width: 16.8rem;
			height: 3.1rem;

			@include above (sm) {
				width: 22.8rem;
				height: 4.2rem;
			}

			@include above (md) {
				width: 25.8rem;
				height: 4.8rem;
			}

			@include above (xl) {
				width: 32.8rem;
				height: 6.1rem;
			}
		}
	}
}