/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {

  &__title {

  }

  &__col {

    a {
      color: $orange;
    }
	
    @include above (sm) {

      &.first {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
}

.bg {

  &--grey-dark, &--orange {
    color: $white;

    h1, h2, h3, h4, h5, h6 {
      color: $white;

      span {
        color: $grey-dark;
      }
    }
  }
} 

.flex {
	display: flex;

  &--hvalign {
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

  &--valign {
  	align-items: center;
  	justify-content: center;
  }

  &--justify {
  	justify-content: space-between;
  }

  &--center {
  	align-items: center;
  }

  &--wrap {
  	flex-wrap: wrap;
  }

  &--end {
  	justify-content: flex-end;
  }

  &--reverse {
    flex-direction: row-reverse;
  }  
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 5rem;
  }
  
  &--bottom {
    padding-bottom: 5rem;
  }

  &--both {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 8rem;
    }

    &--bottom {
      padding-bottom: 8rem;
    }

    &--both {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}