.link-boxes {
 
	&__header {

	}

	&__item {
		display: flex;
		flex-direction: column;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		color: $color-body;

		&:hover {

			.btn--ticket {
				 background: $orange;
				 color: $white;
				 border-top: .2rem dashed $white;
			}
		}

		@include below (xs) {
			width: 100%;
		}

		@include between (sm, md) {
			width: 50%;
		}
	}

	&__img {
		
	}

	&__content {
		background: $white;
		padding: 3rem 1.5rem;
		position: relative;
		flex: 1;
		overflow: hidden;

		&:before, &:after {
			content: '';
			border-radius: 50%;
			background: $blue-light;
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			bottom: -1.25rem;
			@include box-shadow-inset();
		}

		&:before {
			left: -1.25rem;
		}

		&:after {
			right: -1.25rem;
		}

		&--wrap {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}

	&__title {
		color: $orange;
	}

	&__btn {

	}
}