.nav {

	@include above (sm) {
		display: flex;
		flex: 1;
	}

	&__menu {
	    list-style: none;
	    position: relative;
	    z-index: 100;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			width: auto;
			top: 0;
			float: right;
			display: block !important;
			margin-right: .5rem;

			&:last-child() {
				margin-right: 0;
			}
		}

		@include above (md) {
			margin-right: 1.5rem;

			&:last-child() {
				margin-right: 0;
			}
		}

		&--social {

			@include below (sm) {
				display: none;
			}

			.nav__item {
				
				@include above (sm) {
					padding: 1rem .5rem;
				}
			}

			.nav__link {
				display: block;

				i {
					background: $grey-dark;
					color: $white;
					border-radius: 50%;
					width: 2.8rem;
					height: 2.8rem;
    				display: flex;
    				align-items: center;
				    justify-content: center;
				    font-size: 1.4rem;
				    transition: all ease .3s;

				    &:hover {
				    	background: $orange;
				    }
				}
			}
		}

		&--lang {

			.nav__link {
				display: flex;
			}
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1.5rem;

		@include below (sm) {
			opacity: 0;
			transition: opacity ease-in .3s;
			transition-delay: .6s;
		}

		@include above (sm) {
			float: left;
			padding: 1rem;
			display: inline-block;
		}

		&.is-active > a {
			color: $orange;
		}

		&.is-animated {
			opacity: 1; 
		}


		&.is-dropdown {

			@include above (sm) {

				&:hover {

					.nav__dropdown {
						display: block!important;
					}
				}
			}
		}
	}


	&__link {
		color: $white;
		transition: all ease .3s;
		color: $color-body;

		@include between (sm, md) {
			font-size: 1.6rem;
		}

		&:hover {
			color: $orange;
		}
	}


	&__icon {
		display: inline-block;
		max-width: 1.4rem;
		height: auto;
		margin-left: .5rem;
	}


	&__dropdown {
		padding: 0;
		top: 100%;
		background: rgba($white, .8);

		&.is-visible {
			display: block;
		}

		@include above (sm) {
			position: absolute;
			display: none;
		}

		li {
		 	float: none; 
			display: block;

			@include below (sm) {
				padding-left: 0;
				padding-right: 0;
			}
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: -78888;
			opacity: 0;
			top: 9.1rem;
			right: 0;
			height: calc(100% - 9.1rem);
			width: 100%;
			transition: all .6s ease;
			background: transparent;
			overflow-y: hidden;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			
			&--bg {

				&:before, &:after {
					content: '';
					position: fixed;
					width: 100%;
					height: 100%;
					background: $white;
					transition: all .6s ease;
					overflow-y: hidden;
					z-index: -1;
				}

				&:before {
					transform: translateX(-150%) skew(-18deg);
				}

				&:after {
					transform: translateX(150%) skew(-18deg);
				}
			}

			&.is-open {
				z-index: 78888;
				opacity: 1;
				overflow-y: auto;
				
				.nav--mobile--bg {

					&:before {
						transform: translateX(-48%) skew(-18deg);
					}

					&:after {
						transform: translateX(48%) skew(-18deg);
					}
				}
			}

			// Set body to fixed
			@at-root {	

				body.is-fixed {

					@include below (sm) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		@include above (sm) {
			display: flex;
    		flex: 1;
    		justify-content: flex-end;
    		align-items: center;
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 2.5rem;
			height: .3rem;
			background: $orange;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: .3rem;
				background: $orange;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.6rem;
			}

			&::after {
				top: -.6rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}