.page {
	
	&__hero {
		@include bg-cover();
		padding-top: 20vh;
		padding-bottom: 20vh;

		@include above (sm) {
			padding-top: 30vh;
			padding-bottom: 30vh;
		}

		&--transparent {

			@include above (sm) {
				//adjust for header height
				padding-top: calc(30vh + 12.8rem);
				padding-bottom: 30vh;
			}
		}
	}

	&__container {
		position: relative;
	}

	&__title {
		color: $white;
		margin: 0;

		@include above (sm) {
			width: 75%;
		}

		@include above (lg) {
			width: 50%;
		}

		span {
			color: $orange;
		}
	}

	&__cta {
		position: absolute;
		right: 1.5rem;
		top: -15rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: $white;
		width: 180px;
		height: 180px;
		display: none;
		transition: all ease .3s;

		@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) {
			display: none !important;
		}

		@include above (sm) {
			display: flex;
		}

		@include above (md) {
			right: 5rem;
		}

		&:hover {
			background: $grey-dark;
		}

		&-wrap {
			text-align: center;
			z-index: 10;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}

		&-img {
			width: 3.5rem;
			height: auto;
		}

		&-title {
			color: $orange;
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}

	&__wrap {
		position: relative;
		overflow: hidden;
	}

	&__bg {
		position: absolute;
		z-index: -1;
		max-width: 40%;
		display: none;

		@include above (sm) {
			display: block;
		}

		&--1 {
			top: 0;
		}

		&--2 {
			top: 50%;
			transform: translateY(-50%);
		}

		&--3 {
			bottom: 0;
			right: 0;
		}
	}
}
