.search {

	&--bar {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	&__category {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&__form {
		position: relative;
		margin-top: 3rem;

		&--bar {
			margin-top: 0;
			margin-left: 5rem;
		}
	}

	&__input {
		background: $grey;
		border: none;
		padding: 1.5rem;
		width: 100%;
		padding-right: 3.2rem;
	}

	&__btn {
		position: absolute;
		right: .5rem;
		background: transparent;
		border: none;
		height: 100%;
		outline: none;
	}

	&__item {
		background: $white;
		@include box-shadow();
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		position: relative;
		padding: 3rem 0 0 0;
		width: 100%;

		@include below (sm) {
			flex-direction: column;
		}

		@include above (sm) {
			padding: 3rem 1.5rem;
		}
	}

	&__content {
		width: 100%;
		padding-bottom: 3rem;

		@include above (sm) {
			width: 66.66667%;
		}
	}

	&__thumbnail {
		@include bg-cover();
		right: 0;
		top: 0;
		width: 100%;

		@include below (sm) {
			min-height: 25rem;
		}

		@include above (sm) {
			height: 100%;
			width: 33.33333%;
			position: absolute;
		}
	}

	&__title {
		font-size: 3rem;
	}

	&__highlight {
		color: $orange;
	}
}