.sidebar {
	padding: 3rem 1.5rem;
	margin-bottom: 3rem;

	&:last-child() {
		margin-bottom: 0;
	}

	&--content {
		background: $grey-dark;
		color: $white;

		h1, h2, h3, h4, h5, h6 {
			color: $orange;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			position: relative;
			display: flex;
			margin-bottom: .8rem;

			&:before { 
				content: '\f0da';
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				position: relative;
				left: 0;
				color: $orange;
				margin-right: 1.5rem;
			}
		}
	}

	&--categories {
		@include box-shadow();
		display: none;

		@include above (md) {
			display: block;
		}
	}

	&--newsletter {
		background: $grey-dark;
		color: $white;
	}

	&--articles {
		padding: 0;
	}

	&__category {

		&-header {
			border-bottom: .2rem dashed $grey;
			margin-bottom: 0;
			padding-bottom: 3rem;
		}

		&-links {
			display: block;
			padding: 1.5rem 0rem;
			border-bottom: .2rem dashed $grey;
			color: $color-body;
			transition: all ease .3s;
			background: transparent;
			width: 100%;
			border-left: none;
			border-right: none;
			border-top: none; 

			&.is-active {
				color: $orange;
			}

			&:hover {
				color: $orange;
				cursor: pointer;
			}

			&:focus {
				outline: none;
			}
		}
	}

	&__newsletter {

		&-title {
			color: $orange;
		}
	}
}