.single {

	&__row {

		@include below (sm) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&__article {
		
		@include below (sm) {
			padding-bottom: 3rem;
		}	
	}

	&__content {
		padding-top: 1.5rem;

		a {
			color: $orange;
		}

		@include above (sm) {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		@include above (md) {
			padding-left: 5rem;
			padding-right: 5rem;
		}
	}
}