.slider {

	&__track {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}	

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 30rem;

			@include above (lg) {
				padding-bottom: 40rem;
			}
		}
	}

	&__container {

	}

	&__title {

	}

	&__text {

		@include below (sm) {
			width: 100%;
		}
		
		p {

			&:last-child() {
				margin-bottom: 0;
			}
		}
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	@include above (sm) {
		width: 50%;
	}

	&--onequarter {

		@include above (sm) {
			width: 33.33333%; 
		}
	}

	&--threequarter {

		@include above (sm) {
			width: 66.66667%;
		}
	}

	&--full {

		@include above (sm) {
			width: 100%;
		}
	}

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;
		display: flex;
		height: 100%;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			display: flex;
			height: 100%;
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
		display: flex;
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-nav {
		position: absolute;
		width: calc(100% - 3rem);
		display: flex;
		justify-content: space-between;
		align-self: center;
		top: 50%;
		transform: translateY(-50%);
	}

	.owl-dots {
		position: relative;
		top: -2.4rem; 
		display: flex;
		justify-content: center;
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-prev {
		margin-left: 1rem;
	}

	.owl-next {
		margin-right: 1rem;

		.owl-btn {
			position: relative;
			transform: rotate(-180deg); 
		}
	}

	.owl-dot {
		background: rgba($white, .5);
		width: 1rem;
		height: 1rem;
		display: inline-block;
		border-radius: 50%;

		&.active {
			background: $grey-dark;
		}
	}

	.owl-dot + .owl-dot {
		margin-left: .5rem;
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}