//ACF backend styling

@import "config/media-queries";
@import "config/variables";

.acf-fields {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.acf-field {
	width: 100%;
	flex-grow: 1;
}

.acf-google-map > .canvas {
	display: none;
}