.btn {
	display: inline-block;
	padding: 1.5rem 2.5rem;
	font-weight: 700;
	position: relative;
	transition: all ease .3s;

	&--white {
		background: $white;
		color: $orange;
		border-radius: .5rem;

		&:hover {
			background: $grey-dark;
		}
	}

	&--orange {
		background: $orange;
		color: $white;

		&:hover {
			background: $grey-dark;
			color: $orange;
		}
	}

	&--ticket {
		display: block;
		background: $white;
		text-align: center;
		color: $orange;
		border-top: .2rem dashed $grey-medium;
		padding: 2rem 3rem;
		text-transform: uppercase;

		&:before, &:after {
			content: '';
			border-radius: 50%;
			background: $blue-light;
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			top: -1.25rem;
		}

		&:before {
			left: -1.25rem;
		}

		&:after {
			right: -1.25rem;
		}

		&:hover {
			background: $orange;
			color: $white;
			border-top: .2rem dashed $white;
		}
	}
}