//gravity forms
.gform {

	&_wrapper {
		margin-bottom: 0;
	}

	&_body {
		margin-top: 1.5rem;
	}

	&_fields {
		padding-left: 0;
		list-style: none;
	}

	&_footer {
		margin-top: 1.5rem;
	}

	// Submit
	&_button {		
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;

		@extend .btn, .btn--orange;

		&:hover {
			background: $orange !important;
			color: $grey-dark !important;
		}
	}
}


//form fields
.gfield {

	// Labels
	&_label {
		display: none !important;
	}

	&_consent_label {
		color: $white;
	}

	&_consent_description  {
		border: none !important;
		padding-left: 0 !important;

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $orange;
			}
		}
	}

	&_list {

		td {
			padding: 8px 0 8px 0 !important;
		}
	}

	//fields
	input[type="email"],
	input[type="text"],
	textarea, select {
		width: 100%;
		border: none;
		-webkit-appearance: none;

		&:not(.gfpmf-intl) {
			padding: 1.5rem !important;
		}
	}
}


//validations
.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

.gf-error-message {
	color: red !important;	
}

//iti

.iti {

	&__selected-dial-code {
		color: $color-body;
	}

	&__country-name {
		color: #999;
	}
}

.gfpmf-intl {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}