.pagination {
	width: 100%;
	margin-top: 3rem;
	margin-bottom: 3rem;

	&__pages {

		a {
			color: $color-body;
		}

		.current {
			color: $orange;
		}
	}


	&__nav {

		a {
			display: flex;
		}

		&.right {
			margin-left: 1rem;
		}

		&.left {
			margin-right: 1rem;
		}
	}
}

.isotope-pager {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 3rem;

	.pager {
		margin-right: .5rem;
		color: $color-body;
	}
}