.share {
	padding-top: .5rem;

	&__toggle {
		cursor: pointer;

		&--single {
			margin-left: 3rem;
		}
	}

	&__link {
		transition: all ease .6s;
		opacity: 0;
		position: relative;

		&.is-active {
			opacity: 1;
		}

		& + & {
			margin-left: .5rem;
		}

		i {
			background: $grey-dark;
			color: $white;
			border-radius: 50%;
			width: 2.8rem;
			height: 2.8rem;
			display: inline-flex;
			align-items: center;
		    justify-content: center;
		    font-size: 1.4rem;
		    transition: all ease .3s;

		    &:hover {
		    	background: $orange;
		    }
		}
	}
}