/* Color classes (modify as needed) */

$colors: 'white' $white, 'black' $black, 'grey' $grey, 'grey-medium' $grey-medium, 'grey-dark' $grey-dark, 'orange' $orange, 'blue-light' $blue-light;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .bg--#{$label} {
    background-color: $value; 
  }
}
