// Embeds responsive

.embed, .wp-block-embed {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-top: 56.25%;

    &--4-3 {
      padding-top: 75%;
      position: relative; 
    }

    &__item,
    iframe,
    embed,
    object,
    video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;

      @include below (sm) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }

    &__item {
      @include bg-cover();
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &__play {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
          max-width: 6.8rem;
          height: auto;
          transition: all ease .3s;

          path {
            fill: $orange;
            transition: all ease .3s;      
          }
        }

        &:hover {

          svg {

            path {
              fill: $grey-dark;
            }
          }
        }
    }
}
