/********************GLOBAL********************/

* {
  /* (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: $font-body;
  color: $color-body;
}

body {
  background-color: $blue-light;
  overflow-x: hidden;
  line-height: 1.5;
  margin: 0;
  font-size: $base-font-size;

  @include above (sm) {
    font-size: $base-font-size-desktop;
  }
}

/* Links */
a, .a {
  text-decoration: none;
  outline: none;
}

/* Figures and Blockquotes */
figcaption {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: $orange;
}

blockquote {
  position: relative;
  @extend .h3;

  p {
    font-weight: 700;
    text-align: center;
  }
}

cite {
  display: block;
  font-style: normal;
}

/* Paragraphs and Lists
   ========================================================================== */

p, ul, ol {
  margin: 0 0 1.5rem;
}

ul, ol {
  ul, ol {
    margin-bottom: 0;
  }
}

.table-wrapper {
  -webkit-overflow-scroll: touch;
  overflow-x: auto;
}

table:not(.gfield_list) {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  th, td {
    padding: 1rem;
  }

  tr {
    
    &:nth-child(even) {
      background: darken($white, 2%);
    }
  }
}


//Default Image Styles
img {
  height: auto;
  max-width: 100%;
}

// WordPress Styles
[class^="wp-image-"], [class*=" wp-image-"], .wp-caption {
  display: block;
  height: auto;
  max-width: 100%;

  .wp-caption & {
    padding: 0;
    border: 0;
  }

  .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px;
  }
}

.wp-block-image {
  margin-left: 0;
  margin-right: 0;
  
}

//containers
.wrap, .contain, .constrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word;
}

.wrap {
  max-width: 1400px;
}

.contain {
  max-width: 700px;
}

.constrain {
  max-width: 450px;
}

/*
 * HELPER CLASSES
 */

.hpad {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.center {
  text-align: center;
}

.alignleft {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 1rem 1rem 0;
    float: left;
  }
}

.aligncenter {
  margin: 1rem auto;
  clear: both;
}

.alignright {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 0 1rem 1rem;
    float: right;
  }
}