/********************MIXINS*********************/

@mixin clearfix() {

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin bg-cover() {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@mixin box-shadow ($color: $black, $opacity: .2) {
	box-shadow: 5px 5px 10px 2px rgba($color, $opacity);
}


@mixin box-shadow-inset ($color: $black, $opacity: .2) {
	box-shadow: inset 5px 5px 10px 2px rgba($color, $opacity);
}
